{% extends 'base.html' %}

{% block title %}
{{ user.full_name }}
{% endblock %}

{% block content %}
<h1>{{ user.full_name }}</h1>

<img src="{{ user.image_url }}" alt="User Image">

<p><strong>First Name:</strong> {{ user.first_name }}</p>
<p><strong>Last Name:</strong> {{ user.last_name }}</p>

<form method="POST" action="/users/{{ user.id }}/delete" onsubmit="return confirm('Are you sure you want to delete this user?');">
    <button type="submit">Delete</button>
    <a href="/users/{{ user.id }}/edit">Edit</a>
    <a href="/users">Back to Users</a>
  </form>
{% endblock %}